@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  margin: 0 !important;
  padding: 0 !important;
  height: 100vh !important; /* Force full screen height */
  width: 100vw !important;  /* Force full screen width */
  overflow: hidden !important;
  display: block !important;
}

:root {
  --aether-blue: #007bff;
}